@import _generales

header
    .superior
        background: $fondo_degradado_light
        box-shadow: 0 1px 0px 0px $color-light
        height: 23px
        line-height: 23px
        position: absolute
        top: 1px
        right: 1px
        bottom: 1px
        left: 1px
        h3
            font-size: 1.2rem
            font-weight: regular
            margin-left: 7px
            color: $blanco
    .cabecera
        @include flexbox
        height: 64px
        margin-top: 16px
        .botones
            @include flexbox
            .crear-gifos
           

