@import _generales

header
    .barra_superior
        background: $fondo_degradado_light
        box-shadow: 0 1px 0px 0px $color-light
        height: 23px
        line-height: 23px
        position: absolute
        top: 1px
        right: 1px
        bottom: 1px
        left: 1px
        h3
            font-size: 1.2rem
            font-weight: regular
            margin-left: 7px
            color: $blanco
    .cabecera
        @include flexbox
        height: 64px
        margin-top: 64px
        .logo
            display: flex
            align-items: center
            .fa-arrow-left
                margin-right: 5px
                font-size: 3rem
                color: black
                display: none
        .botones
            @include flexbox
            button
                max-height: 39px
            .crear_guifos
                padding: 10px 24px
            .selector-active
                .elegir
                    background: #e0b5dd
                    position: relative
                    &::before
                        content: ''
                        position: absolute
                        border: 1px dotted $color-light
                        top: 2px
                        left: 2px
                        right: -1px
                        bottom: 2px
                .flecha
                    background: #e0b5dd
                    position: relative
                    &::before
                        content: ''
                        position: absolute
                        border: 1px dotted $color-light
                        top: 2px
                        left: -1px
                        right: 2px
                        bottom: 2px
            .selector
                max-height: 39px
                display: flex
                align-items: center
                margin: 0 16px
                position: relative
                &:hover
                    .elegir
                        background: #e0b5dd
                        position: relative
                        &::before
                            content: ''
                            position: absolute
                            border: 1px dotted $color-light
                            top: 2px
                            left: 2px
                            right: -1px
                            bottom: 2px
                    .flecha
                        background: #e0b5dd
                        position: relative
                        &::before
                            content: ''
                            position: absolute
                            border: 1px dotted $color-light
                            top: 2px
                            left: -1px
                            right: 2px
                            bottom: 2px
                button
                    padding: 10px 24px
                .flecha
                    padding: 3.5px 16px 8.5px
                    border-left: none
                    img
                        transition: .3s
                        transform: rotate(0deg)
                    .abajo
                        transition: .3s
                        transform: rotate(180deg)
                .temas
                    position: absolute
                    overflow: hidden
                    top: 102%
                    width: 100%
                    display: flex
                    flex-direction: column
                    @extend .light-box
                    z-index: 99
                    padding: 10px 10px 0px
                    transform: scaleY(0)
                    transform-origin: top
                    transition: .3s
                    .tema
                        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF
                        background: #f0f0f0
                        border: 1px solid #808080
                        margin-bottom: 10px
                        font-size: 16px
                        color: $color-light
                        text-align: left
                    .tema-seleccionado
                        background: #FFF4FD !important
                        border: 1px solid #CCA6C9
                        box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF !important
                .mostrar_menu
                    transform: scaleY(1)
            .mis_guifos
                padding: 9px 20px 9px 1px
                width: 98px
                &:hover
                    border: 1px dotted $color-light
                &::first-letter
                    border-bottom: 1px solid $color-light
            .mis_guifos-active
                color: $gris
                &::first-letter
                    border-bottom-color: $gris
                    
                                
        
    

    
            
        
                

           

