@import _generales


section
    margin: 66px 
    .titulo
        background: white
        border: 1px solid #e6bbe2
        box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D
        height: 32px
        line-height: 32px
        margin-bottom: 19px
        h3
            color: $color-light
            font-size: 1.4rem
            font-weight: 400
            margin-left: 7px 
    .caja-tarjeta
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 20px
        grid-auto-flow: row dense
        .grande
            grid-column-end: span 2       
        .tarjeta
            display: flex
            flex-direction: column
            overflow: hidden
            padding: 3px 3px 5px 3px
            position: relative
            .temas_relacionados
                display: flex
                align-items: center
                justify-content: flex-start
                background: $fondo_degradado_light
                position: absolute
                bottom: 3px
                height: 24px
                width: 98.5%
                visibility: hidden
                h5
                    font-size: 1.4rem 
                    margin-right: 5px
                    cursor: pointer     
            .gif
                height: 290px
                object-fit: cover
                object-position: center
                width: 100%
            &:hover
                @extend .light-box
                .temas_relacionados
                    visibility: visible    
        
        
    

