@import _generales
.guifos
    display: none
.busqueda
    display: none
section
    margin-top: 66px
    padding-bottom: 20px
    .titulo
        background: white
        border: 1px solid #e6bbe2
        box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D
        height: 32px
        line-height: 32px
        margin-bottom: 19px
        h3
            color: $color-light
            font-size: 1.4rem
            font-weight: 400
            margin-left: 7px
    .caja_tarjeta
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 20px
        grid-auto-flow: row dense
        .grande
            grid-column-end: span 2
        .tarjeta
            display: flex
            flex-direction: column
            overflow: hidden
            padding: 3px 3px 5px 3px
            position: relative
            &__encabezado
                display: flex
                align-items: center
                justify-content: space-between
                background: $fondo_degradado_light
                height: 24px
                margin-bottom: 3px
                padding: 0px 7px
                h5
                    font-size: 1.4rem
            .ver_mas
                background: #4180F6
                border: 1px solid #4C2F99
                bottom: 15px
                box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF
                color: white
                font-size: 14px
                left: 7px
                padding: 10px 8px
                position: absolute
                z-index: 99
                &:hover
                    &::before
                        content: ''
                        position: absolute
                        border: 1.5px dotted $color-light
                        top: 3px
                        left: 3px
                        right: 3px
                        bottom: 3px
            .temas_relacionados
                display: flex
                align-items: center
                justify-content: flex-start
                background: $fondo_degradado_light
                position: absolute
                bottom: 3px
                height: 24px
                left: 2px
                right: 3px
                visibility: hidden
                h5
                    font-size: 1.4rem
                    height: 24px
                    margin-left: 10px
                    cursor: pointer
                    z-index: 99
            .gif
                height: 290px
                object-fit: cover
                object-position: center
                width: 100%
            .eliminar
                position: absolute
                bottom: 6px
                left: 150px
                color: $color-light
                background: #F7C9F3
                padding: 10px
                border: 1px solid $color-light
                border-radius: 5px 5px 0px 0px
                box-shadow: 1px 1px 2px 0px $color-light
                transform: scaleY(0)
                transform-origin: bottom
                transition: .5s
            &:hover
                @extend .light-box
                .temas_relacionados
                    visibility: visible
                .eliminar
                    transform: scaleY(1)
                    transition: .2s
                    &:hover
                        background: #e0b5dd
        
        
    

